.container {
    top: -100%;
    animation: slideFromTop 0.5s forwards;
    animation-delay: 0.1s;
    opacity: 0;
}

@keyframes slideFromTop {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 25%;
        opacity: 1;
    }
}